node_modules
dist
.DS_Store
*.log
.next
out
.firebase
*.tsbuildinfo
tsconfig.tsbuildinfo

# Secret Environment Files (Security Hardening)
.env
.env.*
!.env.local.example
*.env
.env.local
.env.production
